<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
        {{>header}}
        <div class="main">
            {{>searchbox}}

            {{>item}}
        </div>
    </body>
</html>