<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
        {{>header}}
        <div class="main">
            <h3>Thank you for buying with us</h3>
        </div>
    </body>
</html>