<header>
    <h1>My awsome brand</h1>

    <a href="/">Home</a>
    <a href="/category/shoes">Shoes</a>
    <a href="/category/clothing">Clothig</a>

    <div class="cart">
        <a href="/cart"><img src="/img/shopping_basket.png" height="20px"> {{countInCart}}</a>
    </div>
</header>